.main-nav {
  background: $primary-color;
  display: flex;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  max-width: 100%;

  .timeline-button, .subjects-button, .profile-button {
    width: 100%;
    border: 0;
  }

  &__name {
    color: $white;
    padding: 0.3em 1em;

    font: {
      family: $font-text;
      weight: 200;
    }
  }
}
