@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins");

$font-subtitle: "Merriweather", serif;
$font-text: "Poppins", sans-serif;
$font-title: "Lobster Two", "cursive";
$font-size: 16px;

$primary-color: #007bdf;
$secondary-color: #00cbff;

$white: #fff;
$black: #282D31;

$font-color: #53575a;

$error-color: #e80808;
$success-color: green;
$alert-color: #e8e808;

html {
  font: {
    family: $font-text;
    size: $font-size;
  }
  color: $font-color;
  background: white;
}

a {
  display: block;
  font-size: 4vw;
  color: $font-color;
  transition: all 0.3s ease-out;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $black;
}

p {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  color: $font-color;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 5px;
  font: {
    size: 5vw;
    family: $font-text;
    weight: 700;
  }
}
