.subjects {
    text-align: center;

    &-title {
        margin: 0.5em;
        text-shadow: 1px 0 0 $primary-color;
        text-transform: uppercase;
    }

    &-content {
        width: 100%;
        height: 100px;
        padding: .5em;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        background: linear-gradient(45deg, rgba($secondary-color, .3), rgba($primary-color, .1));
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &__img {
            width: 50px;
            margin: 0;
            padding: 0.3em;
        }

        &__name {
            margin-left: 1em;
        }

    }
}

.timeline-subject {


  &.show {
    display: block;
  }
}

.main-title {
  text-align: center;
}

.Main {
  text-align: center;
  .uploader-form__submit {
    display: inline-block;
    margin-bottom: 2em;
  }
}
