.uploader {
  text-align: center;
  background: rgba(#fff, 0.2);
  width: 100%;
  padding: 1em 0;

  &-title {
    text-transform: uppercase;
    color: $black;
    display: block;
    text-shadow: 0.5px 0 0 $primary-color;
    margin-bottom: 1em;
    font: {
      size: 1.3em;
    }
  }

  &-form, .form-upload {
    width: 100%;

    & input[type="file"] {
      display: none;
    }

    label {
      display: block;
      margin-bottom: 0.2em;
    }

    .input,
    .select {
      width: 70%;
      margin: 0 auto;
      padding: 0.3em;
      font-family: $font-text;
      margin-bottom: 1em;
      color: $font-color;
    }

    .uploader-former__img {
      margin: 0 auto;
      width: 50px;
      height: 50px;
    }

    .uploader-former__text {
      font-size: 0.8em;
      color: $font-color;
    }

    &__submit {
      background: #FF3C32;
      border: 0;
      display: inline-block;
      padding: 0.4em .8em;
      font: {
        size: 1em;
        family: $font-text;
      }
      color: $white;
      margin-top: 1em;
      border-radius: 5px;
    }
  }
}

.download-container {
  margin: 0 auto;
  width: 100%;
  padding: 0.5em 0.3em;
  text-align: center;

  &__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  &__name {
    color: green;
    margin: 0.3em 0;
  }

  &__link {
    text-transform: uppercase;
  }
}

.close {
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


input {
  outline-color: $primary-color;
}


.uploader-update {
  background: #FCFCFC;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 20;
  width: 100%;
  height: 100vh;
  transition: right 0.5s ease;
  padding-top: 4em;

  &.show-form {
    right: 0;
  }

  .main-nav__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
  }
}
